@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: 'iconsminds';
  src: url(/fonts/iconsminds.eot?d9f93b8c66323ea4d837eb56d64564ca);
  src: url(/fonts/iconsminds.eot?d9f93b8c66323ea4d837eb56d64564ca#iefix) format('embedded-opentype'),
       url(/fonts/iconsminds.woff2?e0f5655481a1e390664cfb2341ae9027) format('woff2'),
       url(/fonts/iconsminds.woff?17d655d7a1a83c50d7ac2511c0377732) format('woff'),
       url(/fonts/iconsminds.ttf?3b6bac7a98e52945800cb481a6b93a2b) format('truetype'),
       url(/fonts/iconsminds.svg?4f0a6dd7c406563e94320f94f5d5d505#iconsminds) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconsminds';
    src: url('../font/iconsminds.svg?42207379#iconsminds') format('svg');
  }
}
*/
 
 [class^="iconsminds-"]:before, [class*=" iconsminds-"]:before {
  font-family: "iconsminds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.iconsminds-add-space-after-paragraph:before { content: '\E800'; } /* '' */
.iconsminds-add-space-before-paragraph:before { content: '\E801'; } /* '' */
.iconsminds-align-center:before { content: '\E802'; } /* '' */
.iconsminds-align-justify-all:before { content: '\E803'; } /* '' */
.iconsminds-align-justify-center:before { content: '\E804'; } /* '' */
.iconsminds-align-justify-left:before { content: '\E805'; } /* '' */
.iconsminds-align-justify-right:before { content: '\E806'; } /* '' */
.iconsminds-align-left:before { content: '\E807'; } /* '' */
.iconsminds-align-right:before { content: '\E808'; } /* '' */
.iconsminds-decrase-inedit:before { content: '\E809'; } /* '' */
.iconsminds-increase-inedit:before { content: '\E80A'; } /* '' */
.iconsminds-indent-first-line:before { content: '\E80B'; } /* '' */
.iconsminds-indent-left-margin:before { content: '\E80C'; } /* '' */
.iconsminds-indent-right-margin:before { content: '\E80D'; } /* '' */
.iconsminds-line-spacing:before { content: '\E80E'; } /* '' */
.iconsminds-arrow-fork:before { content: '\E80F'; } /* '' */
.iconsminds-arrow-from:before { content: '\E810'; } /* '' */
.iconsminds-arrow-inside-45:before { content: '\E811'; } /* '' */
.iconsminds-arrow-inside-gap-45:before { content: '\E812'; } /* '' */
.iconsminds-arrow-inside-gap:before { content: '\E813'; } /* '' */
.iconsminds-arrow-inside:before { content: '\E814'; } /* '' */
.iconsminds-arrow-into:before { content: '\E815'; } /* '' */
.iconsminds-arrow-junction:before { content: '\E817'; } /* '' */
.iconsminds-arrow-loop:before { content: '\E818'; } /* '' */
.iconsminds-arrow-merge:before { content: '\E819'; } /* '' */
.iconsminds-arrow-mix:before { content: '\E81A'; } /* '' */
.iconsminds-arrow-out-left:before { content: '\E81B'; } /* '' */
.iconsminds-arrow-out-right:before { content: '\E81C'; } /* '' */
.iconsminds-arrow-outside-45:before { content: '\E81D'; } /* '' */
.iconsminds-arrow-outside-gap-45:before { content: '\E81E'; } /* '' */
.iconsminds-arrow-outside-gap:before { content: '\E81F'; } /* '' */
.iconsminds-arrow-outside:before { content: '\E820'; } /* '' */
.iconsminds-arrow-over:before { content: '\E821'; } /* '' */
.iconsminds-arrow-shuffle:before { content: '\E822'; } /* '' */
.iconsminds-arrow-squiggly:before { content: '\E823'; } /* '' */
.iconsminds-arrow-through:before { content: '\E824'; } /* '' */
.iconsminds-arrow-to:before { content: '\E825'; } /* '' */
.iconsminds-double-circle:before { content: '\E826'; } /* '' */
.iconsminds-full-view-2:before { content: '\E827'; } /* '' */
.iconsminds-full-view:before { content: '\E828'; } /* '' */
.iconsminds-maximize:before { content: '\E829'; } /* '' */
.iconsminds-minimize:before { content: '\E82A'; } /* '' */
.iconsminds-resize:before { content: '\E82B'; } /* '' */
.iconsminds-three-arrow-fork:before { content: '\E82C'; } /* '' */
.iconsminds-view-height:before { content: '\E82D'; } /* '' */
.iconsminds-view-width:before { content: '\E82E'; } /* '' */
.iconsminds-arrow-around:before { content: '\E82F'; } /* '' */
.iconsminds-arrow-barrier:before { content: '\E830'; } /* '' */
.iconsminds-arrow-circle:before { content: '\E831'; } /* '' */
.iconsminds-arrow-cross:before { content: '\E832'; } /* '' */
.iconsminds-arrow-back-2:before { content: '\E833'; } /* '' */
.iconsminds-arrow-back-3:before { content: '\E834'; } /* '' */
.iconsminds-arrow-back:before { content: '\E835'; } /* '' */
.iconsminds-arrow-down-2:before { content: '\E836'; } /* '' */
.iconsminds-arrow-down-3:before { content: '\E837'; } /* '' */
.iconsminds-arrow-down-in-circle:before { content: '\E838'; } /* '' */
.iconsminds-arrow-down:before { content: '\E839'; } /* '' */
.iconsminds-arrow-forward-2:before { content: '\E83A'; } /* '' */
.iconsminds-arrow-forward:before { content: '\E83B'; } /* '' */
.iconsminds-arrow-left-2:before { content: '\E83C'; } /* '' */
.iconsminds-arrow-left-in-circle:before { content: '\E83D'; } /* '' */
.iconsminds-arrow-left:before { content: '\E83E'; } /* '' */
.iconsminds-arrow-next:before { content: '\E83F'; } /* '' */
.iconsminds-arrow-refresh-2:before { content: '\E840'; } /* '' */
.iconsminds-arrow-refresh:before { content: '\E841'; } /* '' */
.iconsminds-arrow-right-2:before { content: '\E842'; } /* '' */
.iconsminds-arrow-right-in-circle:before { content: '\E843'; } /* '' */
.iconsminds-arrow-right:before { content: '\E844'; } /* '' */
.iconsminds-arrow-turn-left:before { content: '\E845'; } /* '' */
.iconsminds-arrow-turn-right:before { content: '\E846'; } /* '' */
.iconsminds-arrow-up-2:before { content: '\E847'; } /* '' */
.iconsminds-arrow-up-3:before { content: '\E848'; } /* '' */
.iconsminds-arrow-up-in-circle:before { content: '\E849'; } /* '' */
.iconsminds-arrow-up:before { content: '\E84A'; } /* '' */
.iconsminds-arrow-x-left:before { content: '\E84B'; } /* '' */
.iconsminds-arrow-x-right:before { content: '\E84C'; } /* '' */
.iconsminds-bottom-to-top:before { content: '\E84D'; } /* '' */
.iconsminds-down:before { content: '\E84E'; } /* '' */
.iconsminds-down-2:before { content: '\E84F'; } /* '' */
.iconsminds-down-3:before { content: '\E850'; } /* '' */
.iconsminds-download:before { content: '\E851'; } /* '' */
.iconsminds-end:before { content: '\E852'; } /* '' */
.iconsminds-fit-to-2:before { content: '\E853'; } /* '' */
.iconsminds-fit-to:before { content: '\E854'; } /* '' */
.iconsminds-full-screen-2:before { content: '\E855'; } /* '' */
.iconsminds-full-screen:before { content: '\E856'; } /* '' */
.iconsminds-go-bottom:before { content: '\E857'; } /* '' */
.iconsminds-go-top:before { content: '\E858'; } /* '' */
.iconsminds-left---right-3:before { content: '\E859'; } /* '' */
.iconsminds-left---right:before { content: '\E85A'; } /* '' */
.iconsminds-left:before { content: '\E85B'; } /* '' */
.iconsminds-left-2:before { content: '\E85C'; } /* '' */
.iconsminds-left-3:before { content: '\E85D'; } /* '' */
.iconsminds-left-to-right:before { content: '\E85E'; } /* '' */
.iconsminds-loop:before { content: '\E85F'; } /* '' */
.iconsminds-navigate-end:before { content: '\E860'; } /* '' */
.iconsminds-navigat-start:before { content: '\E861'; } /* '' */
.iconsminds-reload:before { content: '\E862'; } /* '' */
.iconsminds-reload-2:before { content: '\E863'; } /* '' */
.iconsminds-repeat:before { content: '\E864'; } /* '' */
.iconsminds-repeat-2:before { content: '\E865'; } /* '' */
.iconsminds-repeat-3:before { content: '\E866'; } /* '' */
.iconsminds-repeat-4:before { content: '\E867'; } /* '' */
.iconsminds-right:before { content: '\E868'; } /* '' */
.iconsminds-right-2:before { content: '\E869'; } /* '' */
.iconsminds-right-3:before { content: '\E86A'; } /* '' */
.iconsminds-right-to-left:before { content: '\E86B'; } /* '' */
.iconsminds-shuffle:before { content: '\E86C'; } /* '' */
.iconsminds-shuffle-2:before { content: '\E86D'; } /* '' */
.iconsminds-start:before { content: '\E86E'; } /* '' */
.iconsminds-sync:before { content: '\E86F'; } /* '' */
.iconsminds-to-bottom-2:before { content: '\E870'; } /* '' */
.iconsminds-to-bottom:before { content: '\E871'; } /* '' */
.iconsminds-to-left:before { content: '\E872'; } /* '' */
.iconsminds-top-to-bottom:before { content: '\E873'; } /* '' */
.iconsminds-to-right:before { content: '\E874'; } /* '' */
.iconsminds-to-top-2:before { content: '\E875'; } /* '' */
.iconsminds-to-top:before { content: '\E876'; } /* '' */
.iconsminds-triangle-arrow-down:before { content: '\E877'; } /* '' */
.iconsminds-triangle-arrow-left:before { content: '\E878'; } /* '' */
.iconsminds-triangle-arrow-right:before { content: '\E879'; } /* '' */
.iconsminds-triangle-arrow-up:before { content: '\E87A'; } /* '' */
.iconsminds-turn-down-2:before { content: '\E87B'; } /* '' */
.iconsminds-turn-down-from-left:before { content: '\E87C'; } /* '' */
.iconsminds-turn-down-from-right:before { content: '\E87D'; } /* '' */
.iconsminds-turn-down:before { content: '\E87E'; } /* '' */
.iconsminds-turn-left-3:before { content: '\E87F'; } /* '' */
.iconsminds-turn-left:before { content: '\E880'; } /* '' */
.iconsminds-turn-right-3:before { content: '\E881'; } /* '' */
.iconsminds-turn-right:before { content: '\E882'; } /* '' */
.iconsminds-turn-up-2:before { content: '\E883'; } /* '' */
.iconsminds-turn-up:before { content: '\E884'; } /* '' */
.iconsminds-up---down-3:before { content: '\E885'; } /* '' */
.iconsminds-up---down:before { content: '\E886'; } /* '' */
.iconsminds-up:before { content: '\E887'; } /* '' */
.iconsminds-up-2:before { content: '\E888'; } /* '' */
.iconsminds-up-3:before { content: '\E889'; } /* '' */
.iconsminds-upload:before { content: '\E88A'; } /* '' */
.iconsminds-billing:before { content: '\E88B'; } /* '' */
.iconsminds-binocular:before { content: '\E88C'; } /* '' */
.iconsminds-bone:before { content: '\E88D'; } /* '' */
.iconsminds-box-close:before { content: '\E88E'; } /* '' */
.iconsminds-box-with-folders:before { content: '\E88F'; } /* '' */
.iconsminds-brush:before { content: '\E890'; } /* '' */
.iconsminds-bucket:before { content: '\E891'; } /* '' */
.iconsminds-camera-3:before { content: '\E892'; } /* '' */
.iconsminds-camera-4:before { content: '\E893'; } /* '' */
.iconsminds-candle:before { content: '\E894'; } /* '' */
.iconsminds-candy:before { content: '\E895'; } /* '' */
.iconsminds-chair:before { content: '\E896'; } /* '' */
.iconsminds-control:before { content: '\E897'; } /* '' */
.iconsminds-control-2:before { content: '\E898'; } /* '' */
.iconsminds-crop-2:before { content: '\E899'; } /* '' */
.iconsminds-crown-2:before { content: '\E89A'; } /* '' */
.iconsminds-dashboard:before { content: '\E89B'; } /* '' */
.iconsminds-data-center:before { content: '\E89C'; } /* '' */
.iconsminds-data-cloud:before { content: '\E89D'; } /* '' */
.iconsminds-data-download:before { content: '\E89E'; } /* '' */
.iconsminds-data-storage:before { content: '\E89F'; } /* '' */
.iconsminds-delete-file:before { content: '\E8A0'; } /* '' */
.iconsminds-dice:before { content: '\E8A1'; } /* '' */
.iconsminds-drill:before { content: '\E8A2'; } /* '' */
.iconsminds-duplicate-layer:before { content: '\E8A3'; } /* '' */
.iconsminds-electricity:before { content: '\E8A4'; } /* '' */
.iconsminds-factory:before { content: '\E8A5'; } /* '' */
.iconsminds-feather:before { content: '\E8A6'; } /* '' */
.iconsminds-file:before { content: '\E8A7'; } /* '' */
.iconsminds-file-clipboard-file---text:before { content: '\E8A8'; } /* '' */
.iconsminds-file-clipboard:before { content: '\E8A9'; } /* '' */
.iconsminds-file-copy:before { content: '\E8AA'; } /* '' */
.iconsminds-file-edit:before { content: '\E8AB'; } /* '' */
.iconsminds-file-horizontal:before { content: '\E8AC'; } /* '' */
.iconsminds-files:before { content: '\E8AD'; } /* '' */
.iconsminds-file-zip:before { content: '\E8AE'; } /* '' */
.iconsminds-filter-2:before { content: '\E8AF'; } /* '' */
.iconsminds-flash-2:before { content: '\E8B0'; } /* '' */
.iconsminds-folder:before { content: '\E8B1'; } /* '' */
.iconsminds-folder-add--:before { content: '\E8B2'; } /* '' */
.iconsminds-folder-block:before { content: '\E8B3'; } /* '' */
.iconsminds-folder-close:before { content: '\E8B4'; } /* '' */
.iconsminds-folder-cloud:before { content: '\E8B5'; } /* '' */
.iconsminds-folder-delete:before { content: '\E8B6'; } /* '' */
.iconsminds-folder-edit:before { content: '\E8B7'; } /* '' */
.iconsminds-folder-open:before { content: '\E8B8'; } /* '' */
.iconsminds-folders:before { content: '\E8B9'; } /* '' */
.iconsminds-folder-zip:before { content: '\E8BA'; } /* '' */
.iconsminds-funny-bicycle:before { content: '\E8BB'; } /* '' */
.iconsminds-gas-pump:before { content: '\E8BC'; } /* '' */
.iconsminds-gear:before { content: '\E8BD'; } /* '' */
.iconsminds-gear-2:before { content: '\E8BE'; } /* '' */
.iconsminds-gears:before { content: '\E8BF'; } /* '' */
.iconsminds-gift-box:before { content: '\E8C1'; } /* '' */
.iconsminds-grave:before { content: '\E8C2'; } /* '' */
.iconsminds-headphone:before { content: '\E8C3'; } /* '' */
.iconsminds-headset:before { content: '\E8C4'; } /* '' */
.iconsminds-hipster-men:before { content: '\E8C5'; } /* '' */
.iconsminds-hub:before { content: '\E8C6'; } /* '' */
.iconsminds-idea:before { content: '\E8C7'; } /* '' */
.iconsminds-information:before { content: '\E8C8'; } /* '' */
.iconsminds-key:before { content: '\E8C9'; } /* '' */
.iconsminds-knife:before { content: '\E8CA'; } /* '' */
.iconsminds-lantern:before { content: '\E8CB'; } /* '' */
.iconsminds-layer-backward:before { content: '\E8CC'; } /* '' */
.iconsminds-layer-forward:before { content: '\E8CD'; } /* '' */
.iconsminds-library:before { content: '\E8CE'; } /* '' */
.iconsminds-light-bulb-2:before { content: '\E8D0'; } /* '' */
.iconsminds-loading:before { content: '\E8D1'; } /* '' */
.iconsminds-loading-2:before { content: '\E8D2'; } /* '' */
.iconsminds-loading-3:before { content: '\E8D3'; } /* '' */
.iconsminds-magic-wand:before { content: '\E8D4'; } /* '' */
.iconsminds-magnifi-glass--:before { content: '\E8D5'; } /* '' */
.iconsminds-magnifi-glass--:before { content: '\E8D6'; } /* '' */
.iconsminds-magnifi-glass:before { content: '\E8D7'; } /* '' */
.iconsminds-memory-card-2:before { content: '\E8D8'; } /* '' */
.iconsminds-mine:before { content: '\E8D9'; } /* '' */
.iconsminds-mustache-2:before { content: '\E8DA'; } /* '' */
.iconsminds-office-lamp:before { content: '\E8DB'; } /* '' */
.iconsminds-old-sticky-2:before { content: '\E8DC'; } /* '' */
.iconsminds-on-off:before { content: '\E8DD'; } /* '' */
.iconsminds-on-off-2:before { content: '\E8DE'; } /* '' */
.iconsminds-on-off-3:before { content: '\E8DF'; } /* '' */
.iconsminds-palette:before { content: '\E8E0'; } /* '' */
.iconsminds-paper:before { content: '\E8E1'; } /* '' */
.iconsminds-pen:before { content: '\E8E2'; } /* '' */
.iconsminds-photo:before { content: '\E8E3'; } /* '' */
.iconsminds-photo-album-2:before { content: '\E8E4'; } /* '' */
.iconsminds-power-station:before { content: '\E8E5'; } /* '' */
.iconsminds-preview:before { content: '\E8E6'; } /* '' */
.iconsminds-pricing:before { content: '\E8E7'; } /* '' */
.iconsminds-profile:before { content: '\E8E8'; } /* '' */
.iconsminds-project:before { content: '\E8E9'; } /* '' */
.iconsminds-puzzle:before { content: '\E8EA'; } /* '' */
.iconsminds-refinery:before { content: '\E8EB'; } /* '' */
.iconsminds-remove-file:before { content: '\E8EC'; } /* '' */
.iconsminds-rename:before { content: '\E8ED'; } /* '' */
.iconsminds-repair:before { content: '\E8EE'; } /* '' */
.iconsminds-ruler:before { content: '\E8EF'; } /* '' */
.iconsminds-save:before { content: '\E8F0'; } /* '' */
.iconsminds-scissor:before { content: '\E8F2'; } /* '' */
.iconsminds-scroller:before { content: '\E8F3'; } /* '' */
.iconsminds-scroller-2:before { content: '\E8F4'; } /* '' */
.iconsminds-share:before { content: '\E8F5'; } /* '' */
.iconsminds-smoking-pipe:before { content: '\E8F6'; } /* '' */
.iconsminds-solar:before { content: '\E8F7'; } /* '' */
.iconsminds-statistic:before { content: '\E8F8'; } /* '' */
.iconsminds-suitcase:before { content: '\E8F9'; } /* '' */
.iconsminds-support:before { content: '\E8FA'; } /* '' */
.iconsminds-switch:before { content: '\E8FB'; } /* '' */
.iconsminds-tripod-with-camera:before { content: '\E8FC'; } /* '' */
.iconsminds-upgrade:before { content: '\E8FD'; } /* '' */
.iconsminds-user:before { content: '\E8FE'; } /* '' */
.iconsminds-windmill:before { content: '\E8FF'; } /* '' */
.iconsminds-witch-hat:before { content: '\E900'; } /* '' */
.iconsminds-wrench:before { content: '\E901'; } /* '' */
.iconsminds-add-file:before { content: '\E902'; } /* '' */
.iconsminds-affiliate:before { content: '\E903'; } /* '' */
.iconsminds-anchor:before { content: '\E904'; } /* '' */
.iconsminds-balloon:before { content: '\E905'; } /* '' */
.iconsminds-beard-3:before { content: '\E906'; } /* '' */
.iconsminds-bicycle:before { content: '\E907'; } /* '' */
.iconsminds-big-data:before { content: '\E908'; } /* '' */
.iconsminds-eifel-tower:before { content: '\E909'; } /* '' */
.iconsminds-el-castillo:before { content: '\E90A'; } /* '' */
.iconsminds-embassy:before { content: '\E90B'; } /* '' */
.iconsminds-empire-state-building:before { content: '\E90C'; } /* '' */
.iconsminds-factory-1:before { content: '\E90D'; } /* '' */
.iconsminds-fire-staion:before { content: '\E90E'; } /* '' */
.iconsminds-home:before { content: '\E90F'; } /* '' */
.iconsminds-home-3:before { content: '\E910'; } /* '' */
.iconsminds-home-4:before { content: '\E911'; } /* '' */
.iconsminds-hotel:before { content: '\E912'; } /* '' */
.iconsminds-japanese-gate:before { content: '\E913'; } /* '' */
.iconsminds-leaning-tower:before { content: '\E914'; } /* '' */
.iconsminds-lighthouse:before { content: '\E915'; } /* '' */
.iconsminds-museum:before { content: '\E916'; } /* '' */
.iconsminds-office:before { content: '\E917'; } /* '' */
.iconsminds-opera-house:before { content: '\E918'; } /* '' */
.iconsminds-piramids:before { content: '\E91B'; } /* '' */
.iconsminds-police-station:before { content: '\E91C'; } /* '' */
.iconsminds-post-office:before { content: '\E91D'; } /* '' */
.iconsminds-prater:before { content: '\E91E'; } /* '' */
.iconsminds-roof:before { content: '\E91F'; } /* '' */
.iconsminds-space-needle:before { content: '\E920'; } /* '' */
.iconsminds-the-white-house:before { content: '\E922'; } /* '' */
.iconsminds-tower:before { content: '\E923'; } /* '' */
.iconsminds-bank:before { content: '\E924'; } /* '' */
.iconsminds-berlin-tower:before { content: '\E925'; } /* '' */
.iconsminds-big-bang:before { content: '\E926'; } /* '' */
.iconsminds-building:before { content: '\E927'; } /* '' */
.iconsminds-castle:before { content: '\E928'; } /* '' */
.iconsminds-chinese-temple:before { content: '\E929'; } /* '' */
.iconsminds-chrysler-building:before { content: '\E92A'; } /* '' */
.iconsminds-city-hall:before { content: '\E92B'; } /* '' */
.iconsminds-clothing-store:before { content: '\E92C'; } /* '' */
.iconsminds-colosseum:before { content: '\E92D'; } /* '' */
.iconsminds-column:before { content: '\E92E'; } /* '' */
.iconsminds-coins:before { content: '\E92F'; } /* '' */
.iconsminds-coins-2:before { content: '\E930'; } /* '' */
.iconsminds-diamond:before { content: '\E933'; } /* '' */
.iconsminds-dollar:before { content: '\E934'; } /* '' */
.iconsminds-dollar-sign-2:before { content: '\E935'; } /* '' */
.iconsminds-euro:before { content: '\E936'; } /* '' */
.iconsminds-euro-sign-2:before { content: '\E937'; } /* '' */
.iconsminds-financial:before { content: '\E938'; } /* '' */
.iconsminds-handshake:before { content: '\E939'; } /* '' */
.iconsminds-pie-chart-3:before { content: '\E93C'; } /* '' */
.iconsminds-pie-chart:before { content: '\E93D'; } /* '' */
.iconsminds-pound:before { content: '\E93E'; } /* '' */
.iconsminds-pound-sign-2:before { content: '\E93F'; } /* '' */
.iconsminds-safe-box:before { content: '\E940'; } /* '' */
.iconsminds-wallet:before { content: '\E941'; } /* '' */
.iconsminds-bar-chart-4:before { content: '\E942'; } /* '' */
.iconsminds-jeans:before { content: '\E946'; } /* '' */
.iconsminds-sunglasses-w-3:before { content: '\E947'; } /* '' */
.iconsminds-tie:before { content: '\E948'; } /* '' */
.iconsminds-t-shirt:before { content: '\E949'; } /* '' */
.iconsminds-baby-clothes:before { content: '\E94A'; } /* '' */
.iconsminds-belt:before { content: '\E94B'; } /* '' */
.iconsminds-bikini:before { content: '\E94C'; } /* '' */
.iconsminds-blouse:before { content: '\E94D'; } /* '' */
.iconsminds-boot:before { content: '\E94E'; } /* '' */
.iconsminds-bow-3:before { content: '\E94F'; } /* '' */
.iconsminds-bra:before { content: '\E950'; } /* '' */
.iconsminds-cap:before { content: '\E951'; } /* '' */
.iconsminds-coat:before { content: '\E952'; } /* '' */
.iconsminds-dress:before { content: '\E953'; } /* '' */
.iconsminds-glasses-3:before { content: '\E954'; } /* '' */
.iconsminds-gloves:before { content: '\E955'; } /* '' */
.iconsminds-hanger:before { content: '\E956'; } /* '' */
.iconsminds-heels-2:before { content: '\E957'; } /* '' */
.iconsminds-jacket:before { content: '\E958'; } /* '' */
.iconsminds-walkie-talkie:before { content: '\E959'; } /* '' */
.iconsminds-wifi:before { content: '\E95A'; } /* '' */
.iconsminds-address-book-2:before { content: '\E95B'; } /* '' */
.iconsminds-bell:before { content: '\E95C'; } /* '' */
.iconsminds-bird-delivering-letter:before { content: '\E95D'; } /* '' */
.iconsminds-communication-tower-2:before { content: '\E95E'; } /* '' */
.iconsminds-fax:before { content: '\E95F'; } /* '' */
.iconsminds-megaphone:before { content: '\E960'; } /* '' */
.iconsminds-newspaper:before { content: '\E961'; } /* '' */
.iconsminds-old-telephone:before { content: '\E962'; } /* '' */
.iconsminds-router:before { content: '\E963'; } /* '' */
.iconsminds-telephone-2:before { content: '\E964'; } /* '' */
.iconsminds-smartphone-4:before { content: '\E965'; } /* '' */
.iconsminds-tablet-3:before { content: '\E966'; } /* '' */
.iconsminds-computer:before { content: '\E967'; } /* '' */
.iconsminds-laptop---phone:before { content: '\E968'; } /* '' */
.iconsminds-laptop---tablet:before { content: '\E969'; } /* '' */
.iconsminds-laptop-3:before { content: '\E96A'; } /* '' */
.iconsminds-monitor:before { content: '\E96B'; } /* '' */
.iconsminds-monitor---laptop:before { content: '\E96C'; } /* '' */
.iconsminds-monitor---phone:before { content: '\E96D'; } /* '' */
.iconsminds-monitor---tablet:before { content: '\E96E'; } /* '' */
.iconsminds-monitor-3:before { content: '\E96F'; } /* '' */
.iconsminds-monitor-vertical:before { content: '\E970'; } /* '' */
.iconsminds-orientation:before { content: '\E971'; } /* '' */
.iconsminds-phone-3:before { content: '\E972'; } /* '' */
.iconsminds-smartphone-3:before { content: '\E973'; } /* '' */
.iconsminds-quill-3:before { content: '\E974'; } /* '' */
.iconsminds-student-hat:before { content: '\E975'; } /* '' */
.iconsminds-blackboard:before { content: '\E976'; } /* '' */
.iconsminds-book:before { content: '\E977'; } /* '' */
.iconsminds-bookmark:before { content: '\E978'; } /* '' */
.iconsminds-books:before { content: '\E979'; } /* '' */
.iconsminds-compass-2:before { content: '\E97A'; } /* '' */
.iconsminds-diploma-2:before { content: '\E97B'; } /* '' */
.iconsminds-eraser-2:before { content: '\E97C'; } /* '' */
.iconsminds-formula:before { content: '\E97D'; } /* '' */
.iconsminds-notepad:before { content: '\E97E'; } /* '' */
.iconsminds-open-book:before { content: '\E97F'; } /* '' */
.iconsminds-pen-2:before { content: '\E980'; } /* '' */
.iconsminds-pi:before { content: '\E981'; } /* '' */
.iconsminds-pipette:before { content: '\E982'; } /* '' */
.iconsminds-mail-block:before { content: '\E983'; } /* '' */
.iconsminds-mailbox-empty:before { content: '\E984'; } /* '' */
.iconsminds-mailbox-full:before { content: '\E985'; } /* '' */
.iconsminds-mail-delete:before { content: '\E986'; } /* '' */
.iconsminds-mail-favorite:before { content: '\E987'; } /* '' */
.iconsminds-mail-forward:before { content: '\E988'; } /* '' */
.iconsminds-mail-gallery:before { content: '\E989'; } /* '' */
.iconsminds-mail-inbox:before { content: '\E98A'; } /* '' */
.iconsminds-mail-link:before { content: '\E98B'; } /* '' */
.iconsminds-mail-lock:before { content: '\E98C'; } /* '' */
.iconsminds-mail-love:before { content: '\E98D'; } /* '' */
.iconsminds-mail-money:before { content: '\E98E'; } /* '' */
.iconsminds-mail-open:before { content: '\E98F'; } /* '' */
.iconsminds-mail-outbox:before { content: '\E990'; } /* '' */
.iconsminds-mail-password:before { content: '\E991'; } /* '' */
.iconsminds-mail-photo:before { content: '\E992'; } /* '' */
.iconsminds-mail-read:before { content: '\E993'; } /* '' */
.iconsminds-mail-remove-x:before { content: '\E994'; } /* '' */
.iconsminds-mail-reply-all:before { content: '\E995'; } /* '' */
.iconsminds-mail-reply:before { content: '\E996'; } /* '' */
.iconsminds-mail-search:before { content: '\E997'; } /* '' */
.iconsminds-mail-send:before { content: '\E998'; } /* '' */
.iconsminds-mail-settings:before { content: '\E999'; } /* '' */
.iconsminds-mail-unread:before { content: '\E99A'; } /* '' */
.iconsminds-mail-video:before { content: '\E99B'; } /* '' */
.iconsminds-mail-with-at-sign:before { content: '\E99C'; } /* '' */
.iconsminds-mail-with-cursors:before { content: '\E99D'; } /* '' */
.iconsminds-new-mail:before { content: '\E99E'; } /* '' */
.iconsminds-post-mail-2:before { content: '\E99F'; } /* '' */
.iconsminds-post-mail:before { content: '\E9A0'; } /* '' */
.iconsminds-spam-mail:before { content: '\E9A1'; } /* '' */
.iconsminds-stamp:before { content: '\E9A2'; } /* '' */
.iconsminds-stamp-2:before { content: '\E9A3'; } /* '' */
.iconsminds-voicemail:before { content: '\E9A4'; } /* '' */
.iconsminds-at-sign:before { content: '\E9A5'; } /* '' */
.iconsminds-box-full:before { content: '\E9A6'; } /* '' */
.iconsminds-empty-box:before { content: '\E9A7'; } /* '' */
.iconsminds-envelope:before { content: '\E9A8'; } /* '' */
.iconsminds-envelope-2:before { content: '\E9A9'; } /* '' */
.iconsminds-inbox:before { content: '\E9AA'; } /* '' */
.iconsminds-inbox-empty:before { content: '\E9AB'; } /* '' */
.iconsminds-inbox-forward:before { content: '\E9AC'; } /* '' */
.iconsminds-inbox-full:before { content: '\E9AD'; } /* '' */
.iconsminds-inbox-into:before { content: '\E9AE'; } /* '' */
.iconsminds-inbox-out:before { content: '\E9AF'; } /* '' */
.iconsminds-inbox-reply:before { content: '\E9B0'; } /* '' */
.iconsminds-letter-close:before { content: '\E9B1'; } /* '' */
.iconsminds-letter-open:before { content: '\E9B2'; } /* '' */
.iconsminds-letter-sent:before { content: '\E9B3'; } /* '' */
.iconsminds-mail:before { content: '\E9B4'; } /* '' */
.iconsminds-mail-2:before { content: '\E9B5'; } /* '' */
.iconsminds-mail-3:before { content: '\E9B6'; } /* '' */
.iconsminds-mail-add--:before { content: '\E9B7'; } /* '' */
.iconsminds-mail-attachement:before { content: '\E9B8'; } /* '' */
.iconsminds-ice-cream:before { content: '\E9B9'; } /* '' */
.iconsminds-lollipop:before { content: '\E9BA'; } /* '' */
.iconsminds-open-banana:before { content: '\E9BB'; } /* '' */
.iconsminds-pepper:before { content: '\E9BC'; } /* '' */
.iconsminds-tee-mug:before { content: '\E9BD'; } /* '' */
.iconsminds-tomato:before { content: '\E9BE'; } /* '' */
.iconsminds-apple:before { content: '\E9BF'; } /* '' */
.iconsminds-apple-bite:before { content: '\E9C0'; } /* '' */
.iconsminds-beer-glass:before { content: '\E9C1'; } /* '' */
.iconsminds-birthday-cake:before { content: '\E9C2'; } /* '' */
.iconsminds-bread:before { content: '\E9C3'; } /* '' */
.iconsminds-cake:before { content: '\E9C4'; } /* '' */
.iconsminds-can:before { content: '\E9C5'; } /* '' */
.iconsminds-can-2:before { content: '\E9C6'; } /* '' */
.iconsminds-cheese:before { content: '\E9C7'; } /* '' */
.iconsminds-chef-hat:before { content: '\E9C8'; } /* '' */
.iconsminds-chopsticks:before { content: '\E9C9'; } /* '' */
.iconsminds-cocktail:before { content: '\E9CA'; } /* '' */
.iconsminds-coffee:before { content: '\E9CB'; } /* '' */
.iconsminds-coffee-bean:before { content: '\E9CC'; } /* '' */
.iconsminds-coffee-to-go:before { content: '\E9CD'; } /* '' */
.iconsminds-cookies:before { content: '\E9CE'; } /* '' */
.iconsminds-croissant:before { content: '\E9CF'; } /* '' */
.iconsminds-cupcake:before { content: '\E9D0'; } /* '' */
.iconsminds-doughnut:before { content: '\E9D1'; } /* '' */
.iconsminds-fish:before { content: '\E9D2'; } /* '' */
.iconsminds-glass-water:before { content: '\E9D3'; } /* '' */
.iconsminds-hamburger:before { content: '\E9D4'; } /* '' */
.iconsminds-hot-dog:before { content: '\E9D5'; } /* '' */
.iconsminds-webcam:before { content: '\E9D7'; } /* '' */
.iconsminds-battery-0:before { content: '\E9D8'; } /* '' */
.iconsminds-battery-100:before { content: '\E9D9'; } /* '' */
.iconsminds-battery-charge:before { content: '\E9DA'; } /* '' */
.iconsminds-charger:before { content: '\E9DB'; } /* '' */
.iconsminds-cpu:before { content: '\E9DC'; } /* '' */
.iconsminds-disk:before { content: '\E9DD'; } /* '' */
.iconsminds-dvd:before { content: '\E9DE'; } /* '' */
.iconsminds-fan:before { content: '\E9DF'; } /* '' */
.iconsminds-gamepad-2:before { content: '\E9E0'; } /* '' */
.iconsminds-hdd:before { content: '\E9E1'; } /* '' */
.iconsminds-keyboard:before { content: '\E9E2'; } /* '' */
.iconsminds-mouse:before { content: '\E9E3'; } /* '' */
.iconsminds-mouse-3:before { content: '\E9E4'; } /* '' */
.iconsminds-plug-in:before { content: '\E9E5'; } /* '' */
.iconsminds-power:before { content: '\E9E6'; } /* '' */
.iconsminds-power-cable:before { content: '\E9E7'; } /* '' */
.iconsminds-remote-controll-2:before { content: '\E9E8'; } /* '' */
.iconsminds-server-2:before { content: '\E9E9'; } /* '' */
.iconsminds-speaker:before { content: '\E9EA'; } /* '' */
.iconsminds-start-ways:before { content: '\E9EB'; } /* '' */
.iconsminds-synchronize:before { content: '\E9EC'; } /* '' */
.iconsminds-synchronize-2:before { content: '\E9ED'; } /* '' */
.iconsminds-undo:before { content: '\E9EE'; } /* '' */
.iconsminds-up-1:before { content: '\E9EF'; } /* '' */
.iconsminds-upload-1:before { content: '\E9F0'; } /* '' */
.iconsminds-upward:before { content: '\E9F1'; } /* '' */
.iconsminds-yes:before { content: '\E9F2'; } /* '' */
.iconsminds-add:before { content: '\E9F3'; } /* '' */
.iconsminds-back:before { content: '\E9F4'; } /* '' */
.iconsminds-broken-link:before { content: '\E9F5'; } /* '' */
.iconsminds-check:before { content: '\E9F6'; } /* '' */
.iconsminds-close:before { content: '\E9F8'; } /* '' */
.iconsminds-cursor:before { content: '\E9F9'; } /* '' */
.iconsminds-cursor-click-2:before { content: '\E9FA'; } /* '' */
.iconsminds-cursor-click:before { content: '\E9FB'; } /* '' */
.iconsminds-cursor-move-2:before { content: '\E9FC'; } /* '' */
.iconsminds-cursor-select:before { content: '\E9FD'; } /* '' */
.iconsminds-down-1:before { content: '\E9FE'; } /* '' */
.iconsminds-download-1:before { content: '\E9FF'; } /* '' */
.iconsminds-downward:before { content: '\EA00'; } /* '' */
.iconsminds-endways:before { content: '\EA01'; } /* '' */
.iconsminds-forward:before { content: '\EA02'; } /* '' */
.iconsminds-left-1:before { content: '\EA03'; } /* '' */
.iconsminds-link:before { content: '\EA04'; } /* '' */
.iconsminds-next:before { content: '\EA05'; } /* '' */
.iconsminds-orientation-1:before { content: '\EA06'; } /* '' */
.iconsminds-pointer:before { content: '\EA07'; } /* '' */
.iconsminds-previous:before { content: '\EA08'; } /* '' */
.iconsminds-redo:before { content: '\EA09'; } /* '' */
.iconsminds-refresh:before { content: '\EA0A'; } /* '' */
.iconsminds-reload-1:before { content: '\EA0B'; } /* '' */
.iconsminds-remove:before { content: '\EA0C'; } /* '' */
.iconsminds-repeat-1:before { content: '\EA0D'; } /* '' */
.iconsminds-reset:before { content: '\EA0E'; } /* '' */
.iconsminds-rewind:before { content: '\EA0F'; } /* '' */
.iconsminds-right-1:before { content: '\EA10'; } /* '' */
.iconsminds-rotation:before { content: '\EA11'; } /* '' */
.iconsminds-rotation-390:before { content: '\EA12'; } /* '' */
.iconsminds-spot:before { content: '\EA13'; } /* '' */
.iconsminds-satelite-2:before { content: '\EA15'; } /* '' */
.iconsminds-compass-1:before { content: '\EA16'; } /* '' */
.iconsminds-direction-east:before { content: '\EA17'; } /* '' */
.iconsminds-edit-map:before { content: '\EA18'; } /* '' */
.iconsminds-geo2:before { content: '\EA19'; } /* '' */
.iconsminds-geo2--:before { content: '\EA1A'; } /* '' */
.iconsminds-geo2--:before { content: '\EA1B'; } /* '' */
.iconsminds-globe-2:before { content: '\EA1C'; } /* '' */
.iconsminds-location-2:before { content: '\EA1D'; } /* '' */
.iconsminds-map2:before { content: '\EA1E'; } /* '' */
.iconsminds-map-marker-2:before { content: '\EA1F'; } /* '' */
.iconsminds-map-marker:before { content: '\EA20'; } /* '' */
.iconsminds-stop:before { content: '\EA21'; } /* '' */
.iconsminds-stop-2:before { content: '\EA22'; } /* '' */
.iconsminds-back-1:before { content: '\EA23'; } /* '' */
.iconsminds-back-2:before { content: '\EA24'; } /* '' */
.iconsminds-eject:before { content: '\EA25'; } /* '' */
.iconsminds-eject-2:before { content: '\EA26'; } /* '' */
.iconsminds-end-1:before { content: '\EA27'; } /* '' */
.iconsminds-end-2:before { content: '\EA28'; } /* '' */
.iconsminds-next-1:before { content: '\EA29'; } /* '' */
.iconsminds-next-2:before { content: '\EA2A'; } /* '' */
.iconsminds-pause:before { content: '\EA2B'; } /* '' */
.iconsminds-pause-2:before { content: '\EA2C'; } /* '' */
.iconsminds-power-2:before { content: '\EA2D'; } /* '' */
.iconsminds-power-3:before { content: '\EA2E'; } /* '' */
.iconsminds-record:before { content: '\EA2F'; } /* '' */
.iconsminds-record-2:before { content: '\EA30'; } /* '' */
.iconsminds-repeat-5:before { content: '\EA31'; } /* '' */
.iconsminds-repeat-6:before { content: '\EA32'; } /* '' */
.iconsminds-shuffle-1:before { content: '\EA33'; } /* '' */
.iconsminds-shuffle-3:before { content: '\EA34'; } /* '' */
.iconsminds-start-1:before { content: '\EA35'; } /* '' */
.iconsminds-start-2:before { content: '\EA36'; } /* '' */
.iconsminds-volume-down:before { content: '\EA37'; } /* '' */
.iconsminds-volume-up:before { content: '\EA38'; } /* '' */
.iconsminds-back-music:before { content: '\EA39'; } /* '' */
.iconsminds-cd-2:before { content: '\EA3A'; } /* '' */
.iconsminds-clef:before { content: '\EA3B'; } /* '' */
.iconsminds-earphones-2:before { content: '\EA3C'; } /* '' */
.iconsminds-equalizer:before { content: '\EA3E'; } /* '' */
.iconsminds-first:before { content: '\EA3F'; } /* '' */
.iconsminds-headphones:before { content: '\EA41'; } /* '' */
.iconsminds-last:before { content: '\EA42'; } /* '' */
.iconsminds-loudspeaker:before { content: '\EA43'; } /* '' */
.iconsminds-mic:before { content: '\EA44'; } /* '' */
.iconsminds-microphone-4:before { content: '\EA45'; } /* '' */
.iconsminds-next-music:before { content: '\EA46'; } /* '' */
.iconsminds-old-radio:before { content: '\EA47'; } /* '' */
.iconsminds-play-music:before { content: '\EA48'; } /* '' */
.iconsminds-radio:before { content: '\EA49'; } /* '' */
.iconsminds-record-1:before { content: '\EA4A'; } /* '' */
.iconsminds-record-music:before { content: '\EA4B'; } /* '' */
.iconsminds-sound:before { content: '\EA4C'; } /* '' */
.iconsminds-speaker-1:before { content: '\EA4D'; } /* '' */
.iconsminds-stop-music:before { content: '\EA4E'; } /* '' */
.iconsminds-trumpet:before { content: '\EA4F'; } /* '' */
.iconsminds-voice:before { content: '\EA50'; } /* '' */
.iconsminds-tree-3:before { content: '\EA51'; } /* '' */
.iconsminds-eci-icon:before { content: '\EA52'; } /* '' */
.iconsminds-environmental:before { content: '\EA53'; } /* '' */
.iconsminds-environmental-3:before { content: '\EA54'; } /* '' */
.iconsminds-fire-flame-2:before { content: '\EA55'; } /* '' */
.iconsminds-green-energy:before { content: '\EA58'; } /* '' */
.iconsminds-green-house:before { content: '\EA59'; } /* '' */
.iconsminds-leafs:before { content: '\EA5B'; } /* '' */
.iconsminds-light-bulb-leaf:before { content: '\EA5C'; } /* '' */
.iconsminds-palm-tree:before { content: '\EA5D'; } /* '' */
.iconsminds-plant:before { content: '\EA5E'; } /* '' */
.iconsminds-recycling-2:before { content: '\EA5F'; } /* '' */
.iconsminds-seed:before { content: '\EA60'; } /* '' */
.iconsminds-trash-with-men:before { content: '\EA61'; } /* '' */
.iconsminds-id-card:before { content: '\EA62'; } /* '' */
.iconsminds-king-2:before { content: '\EA63'; } /* '' */
.iconsminds-male:before { content: '\EA64'; } /* '' */
.iconsminds-male-female:before { content: '\EA65'; } /* '' */
.iconsminds-male-2:before { content: '\EA66'; } /* '' */
.iconsminds-man-sign:before { content: '\EA67'; } /* '' */
.iconsminds-mens:before { content: '\EA68'; } /* '' */
.iconsminds-network:before { content: '\EA69'; } /* '' */
.iconsminds-student-female:before { content: '\EA6A'; } /* '' */
.iconsminds-student-male:before { content: '\EA6B'; } /* '' */
.iconsminds-student-male-female:before { content: '\EA6C'; } /* '' */
.iconsminds-students:before { content: '\EA6D'; } /* '' */
.iconsminds-woman-man:before { content: '\EA6E'; } /* '' */
.iconsminds-add-user:before { content: '\EA6F'; } /* '' */
.iconsminds-administrator:before { content: '\EA70'; } /* '' */
.iconsminds-assistant:before { content: '\EA71'; } /* '' */
.iconsminds-business-man:before { content: '\EA72'; } /* '' */
.iconsminds-business-man-woman:before { content: '\EA73'; } /* '' */
.iconsminds-business-mens:before { content: '\EA74'; } /* '' */
.iconsminds-business-woman:before { content: '\EA75'; } /* '' */
.iconsminds-conference:before { content: '\EA76'; } /* '' */
.iconsminds-doctor:before { content: '\EA77'; } /* '' */
.iconsminds-engineering:before { content: '\EA78'; } /* '' */
.iconsminds-female:before { content: '\EA79'; } /* '' */
.iconsminds-female-2:before { content: '\EA7A'; } /* '' */
.iconsminds-temperature:before { content: '\EA7B'; } /* '' */
.iconsminds-test-tube:before { content: '\EA7C'; } /* '' */
.iconsminds-ambulance:before { content: '\EA7D'; } /* '' */
.iconsminds-atom:before { content: '\EA7E'; } /* '' */
.iconsminds-band-aid:before { content: '\EA7F'; } /* '' */
.iconsminds-bio-hazard:before { content: '\EA80'; } /* '' */
.iconsminds-biotech:before { content: '\EA81'; } /* '' */
.iconsminds-brain:before { content: '\EA82'; } /* '' */
.iconsminds-chemical:before { content: '\EA83'; } /* '' */
.iconsminds-clinic:before { content: '\EA84'; } /* '' */
.iconsminds-danger:before { content: '\EA85'; } /* '' */
.iconsminds-dna:before { content: '\EA86'; } /* '' */
.iconsminds-dna-2:before { content: '\EA87'; } /* '' */
.iconsminds-first-aid:before { content: '\EA88'; } /* '' */
.iconsminds-flask:before { content: '\EA89'; } /* '' */
.iconsminds-medical-sign:before { content: '\EA8A'; } /* '' */
.iconsminds-medicine-3:before { content: '\EA8B'; } /* '' */
.iconsminds-microscope:before { content: '\EA8C'; } /* '' */
.iconsminds-physics:before { content: '\EA8D'; } /* '' */
.iconsminds-plasmid:before { content: '\EA8E'; } /* '' */
.iconsminds-plaster:before { content: '\EA8F'; } /* '' */
.iconsminds-pulse:before { content: '\EA90'; } /* '' */
.iconsminds-radioactive:before { content: '\EA91'; } /* '' */
.iconsminds-stethoscope:before { content: '\EA92'; } /* '' */
.iconsminds-security-settings:before { content: '\EA93'; } /* '' */
.iconsminds-securiy-remove:before { content: '\EA94'; } /* '' */
.iconsminds-shield:before { content: '\EA95'; } /* '' */
.iconsminds-ssl:before { content: '\EA96'; } /* '' */
.iconsminds-type-pass:before { content: '\EA97'; } /* '' */
.iconsminds-unlock-2:before { content: '\EA98'; } /* '' */
.iconsminds-finger-print:before { content: '\EA99'; } /* '' */
.iconsminds-firewall:before { content: '\EA9A'; } /* '' */
.iconsminds-key-lock:before { content: '\EA9B'; } /* '' */
.iconsminds-laptop-secure:before { content: '\EA9C'; } /* '' */
.iconsminds-lock-2:before { content: '\EA9D'; } /* '' */
.iconsminds-password:before { content: '\EA9E'; } /* '' */
.iconsminds-password-field:before { content: '\EA9F'; } /* '' */
.iconsminds-police:before { content: '\EAA0'; } /* '' */
.iconsminds-security-block:before { content: '\EAA2'; } /* '' */
.iconsminds-security-bug:before { content: '\EAA3'; } /* '' */
.iconsminds-security-camera:before { content: '\EAA4'; } /* '' */
.iconsminds-security-check:before { content: '\EAA5'; } /* '' */
.iconsminds-testimonal:before { content: '\EAA6'; } /* '' */
.iconsminds-broke-link-2:before { content: '\EAA7'; } /* '' */
.iconsminds-coding:before { content: '\EAA8'; } /* '' */
.iconsminds-consulting:before { content: '\EAA9'; } /* '' */
.iconsminds-copyright:before { content: '\EAAA'; } /* '' */
.iconsminds-idea-2:before { content: '\EAAB'; } /* '' */
.iconsminds-link-2:before { content: '\EAAC'; } /* '' */
.iconsminds-management:before { content: '\EAAD'; } /* '' */
.iconsminds-monitor-analytics:before { content: '\EAAE'; } /* '' */
.iconsminds-monitoring:before { content: '\EAAF'; } /* '' */
.iconsminds-optimization:before { content: '\EAB0'; } /* '' */
.iconsminds-tag:before { content: '\EAB1'; } /* '' */
.iconsminds-target:before { content: '\EAB2'; } /* '' */
.iconsminds-target-market:before { content: '\EAB3'; } /* '' */
.iconsminds-shopping-bag:before { content: '\EAB5'; } /* '' */
.iconsminds-shopping-basket:before { content: '\EAB6'; } /* '' */
.iconsminds-shopping-cart:before { content: '\EAB7'; } /* '' */
.iconsminds-tag-3:before { content: '\EAB8'; } /* '' */
.iconsminds-add-bag:before { content: '\EAB9'; } /* '' */
.iconsminds-add-basket:before { content: '\EABA'; } /* '' */
.iconsminds-add-cart:before { content: '\EABB'; } /* '' */
.iconsminds-bag-items:before { content: '\EABC'; } /* '' */
.iconsminds-bag-quantity:before { content: '\EABD'; } /* '' */
.iconsminds-basket-coins:before { content: '\EABF'; } /* '' */
.iconsminds-basket-items:before { content: '\EAC0'; } /* '' */
.iconsminds-basket-quantity:before { content: '\EAC1'; } /* '' */
.iconsminds-car-items:before { content: '\EAC2'; } /* '' */
.iconsminds-cart-quantity:before { content: '\EAC3'; } /* '' */
.iconsminds-cash-register-2:before { content: '\EAC4'; } /* '' */
.iconsminds-checkout:before { content: '\EAC5'; } /* '' */
.iconsminds-checkout-bag:before { content: '\EAC6'; } /* '' */
.iconsminds-checkout-basket:before { content: '\EAC7'; } /* '' */
.iconsminds-home-1:before { content: '\EAC8'; } /* '' */
.iconsminds-qr-code:before { content: '\EAC9'; } /* '' */
.iconsminds-receipt-4:before { content: '\EACA'; } /* '' */
.iconsminds-remove-bag:before { content: '\EACB'; } /* '' */
.iconsminds-remove-basket:before { content: '\EACC'; } /* '' */
.iconsminds-remove-cart:before { content: '\EACD'; } /* '' */
.iconsminds-shop:before { content: '\EACE'; } /* '' */
.iconsminds-shop-2:before { content: '\EACF'; } /* '' */
.iconsminds-shop-3:before { content: '\EAD0'; } /* '' */
.iconsminds-ying-yang:before { content: '\EAD1'; } /* '' */
.iconsminds-bisexual:before { content: '\EAD2'; } /* '' */
.iconsminds-cancer:before { content: '\EAD3'; } /* '' */
.iconsminds-couple-sign:before { content: '\EAD4'; } /* '' */
.iconsminds-family-sign:before { content: '\EAD5'; } /* '' */
.iconsminds-female-1:before { content: '\EAD6'; } /* '' */
.iconsminds-gey:before { content: '\EAD7'; } /* '' */
.iconsminds-heart:before { content: '\EAD8'; } /* '' */
.iconsminds-homosexual:before { content: '\EAD9'; } /* '' */
.iconsminds-inifity:before { content: '\EADA'; } /* '' */
.iconsminds-lesbian:before { content: '\EADB'; } /* '' */
.iconsminds-lesbians:before { content: '\EADC'; } /* '' */
.iconsminds-love:before { content: '\EADD'; } /* '' */
.iconsminds-male-1:before { content: '\EADE'; } /* '' */
.iconsminds-men:before { content: '\EADF'; } /* '' */
.iconsminds-no-smoking:before { content: '\EAE0'; } /* '' */
.iconsminds-paw:before { content: '\EAE1'; } /* '' */
.iconsminds-quotes:before { content: '\EAE2'; } /* '' */
.iconsminds-redirect:before { content: '\EAE3'; } /* '' */
.iconsminds-ribbon:before { content: '\EAE4'; } /* '' */
.iconsminds-venn-diagram:before { content: '\EAE5'; } /* '' */
.iconsminds-wheelchair:before { content: '\EAE6'; } /* '' */
.iconsminds-women:before { content: '\EAE7'; } /* '' */
.iconsminds-instagram:before { content: '\EAE8'; } /* '' */
.iconsminds-last-fm:before { content: '\EAE9'; } /* '' */
.iconsminds-like:before { content: '\EAEA'; } /* '' */
.iconsminds-linkedin-2:before { content: '\EAEB'; } /* '' */
.iconsminds-livejournal:before { content: '\EAEC'; } /* '' */
.iconsminds-newsvine:before { content: '\EAED'; } /* '' */
.iconsminds-picasa:before { content: '\EAEE'; } /* '' */
.iconsminds-pinterest:before { content: '\EAEF'; } /* '' */
.iconsminds-plaxo:before { content: '\EAF0'; } /* '' */
.iconsminds-plurk:before { content: '\EAF1'; } /* '' */
.iconsminds-posterous:before { content: '\EAF2'; } /* '' */
.iconsminds-qik:before { content: '\EAF3'; } /* '' */
.iconsminds-reddit:before { content: '\EAF4'; } /* '' */
.iconsminds-reverbnation:before { content: '\EAF5'; } /* '' */
.iconsminds-rss:before { content: '\EAF6'; } /* '' */
.iconsminds-sharethis:before { content: '\EAF7'; } /* '' */
.iconsminds-skype:before { content: '\EAF8'; } /* '' */
.iconsminds-soundcloud:before { content: '\EAF9'; } /* '' */
.iconsminds-stumbleupon:before { content: '\EAFA'; } /* '' */
.iconsminds-technorati:before { content: '\EAFB'; } /* '' */
.iconsminds-tumblr:before { content: '\EAFC'; } /* '' */
.iconsminds-twitter:before { content: '\EAFD'; } /* '' */
.iconsminds-unlike:before { content: '\EAFE'; } /* '' */
.iconsminds-ustream:before { content: '\EAFF'; } /* '' */
.iconsminds-viddler:before { content: '\EB00'; } /* '' */
.iconsminds-vimeo:before { content: '\EB01'; } /* '' */
.iconsminds-wordpress:before { content: '\EB02'; } /* '' */
.iconsminds-xanga:before { content: '\EB03'; } /* '' */
.iconsminds-yahoo:before { content: '\EB04'; } /* '' */
.iconsminds-yelp:before { content: '\EB05'; } /* '' */
.iconsminds-youtube:before { content: '\EB06'; } /* '' */
.iconsminds-ask:before { content: '\EB07'; } /* '' */
.iconsminds-behance:before { content: '\EB08'; } /* '' */
.iconsminds-bing:before { content: '\EB09'; } /* '' */
.iconsminds-blinklist:before { content: '\EB0A'; } /* '' */
.iconsminds-blogger:before { content: '\EB0B'; } /* '' */
.iconsminds-delicious:before { content: '\EB0C'; } /* '' */
.iconsminds-deviantart:before { content: '\EB0D'; } /* '' */
.iconsminds-digg:before { content: '\EB0E'; } /* '' */
.iconsminds-diigo:before { content: '\EB0F'; } /* '' */
.iconsminds-dribble:before { content: '\EB11'; } /* '' */
.iconsminds-email:before { content: '\EB12'; } /* '' */
.iconsminds-evernote:before { content: '\EB13'; } /* '' */
.iconsminds-facebook:before { content: '\EB14'; } /* '' */
.iconsminds-feedburner:before { content: '\EB15'; } /* '' */
.iconsminds-flickr:before { content: '\EB16'; } /* '' */
.iconsminds-formspring:before { content: '\EB17'; } /* '' */
.iconsminds-forsquare:before { content: '\EB18'; } /* '' */
.iconsminds-friendster:before { content: '\EB19'; } /* '' */
.iconsminds-google:before { content: '\EB1A'; } /* '' */
.iconsminds-gowalla:before { content: '\EB1B'; } /* '' */
.iconsminds-icq:before { content: '\EB1C'; } /* '' */
.iconsminds-imdb:before { content: '\EB1D'; } /* '' */
.iconsminds-speach-bubble:before { content: '\EB1E'; } /* '' */
.iconsminds-speach-bubbles:before { content: '\EB1F'; } /* '' */
.iconsminds-speach-bubble-2:before { content: '\EB20'; } /* '' */
.iconsminds-speach-bubble-3:before { content: '\EB21'; } /* '' */
.iconsminds-speach-bubble-4:before { content: '\EB22'; } /* '' */
.iconsminds-speach-bubble-5:before { content: '\EB23'; } /* '' */
.iconsminds-speach-bubble-6:before { content: '\EB24'; } /* '' */
.iconsminds-speach-bubble-7:before { content: '\EB25'; } /* '' */
.iconsminds-speach-bubble-8:before { content: '\EB26'; } /* '' */
.iconsminds-speach-bubble-9:before { content: '\EB27'; } /* '' */
.iconsminds-speach-bubble-10:before { content: '\EB28'; } /* '' */
.iconsminds-speach-bubble-11:before { content: '\EB29'; } /* '' */
.iconsminds-speach-bubble-12:before { content: '\EB2A'; } /* '' */
.iconsminds-speach-bubble-13:before { content: '\EB2B'; } /* '' */
.iconsminds-speach-bubble-asking:before { content: '\EB2C'; } /* '' */
.iconsminds-speach-bubble-comic-2:before { content: '\EB2D'; } /* '' */
.iconsminds-speach-bubble-comic-3:before { content: '\EB2E'; } /* '' */
.iconsminds-speach-bubble-comic-4:before { content: '\EB2F'; } /* '' */
.iconsminds-speach-bubble-comic:before { content: '\EB30'; } /* '' */
.iconsminds-speach-bubble-dialog:before { content: '\EB31'; } /* '' */
.iconsminds-trekking:before { content: '\EB32'; } /* '' */
.iconsminds-trophy:before { content: '\EB33'; } /* '' */
.iconsminds-weight-lift:before { content: '\EB35'; } /* '' */
.iconsminds-aerobics:before { content: '\EB36'; } /* '' */
.iconsminds-archery:before { content: '\EB37'; } /* '' */
.iconsminds-ballet-shoes:before { content: '\EB38'; } /* '' */
.iconsminds-baseball:before { content: '\EB39'; } /* '' */
.iconsminds-basket-ball:before { content: '\EB3A'; } /* '' */
.iconsminds-bowling:before { content: '\EB3B'; } /* '' */
.iconsminds-box:before { content: '\EB3C'; } /* '' */
.iconsminds-chess:before { content: '\EB3D'; } /* '' */
.iconsminds-cricket:before { content: '\EB3E'; } /* '' */
.iconsminds-dumbbell:before { content: '\EB3F'; } /* '' */
.iconsminds-football:before { content: '\EB40'; } /* '' */
.iconsminds-football-2:before { content: '\EB41'; } /* '' */
.iconsminds-footprint:before { content: '\EB42'; } /* '' */
.iconsminds-footprint-2:before { content: '\EB43'; } /* '' */
.iconsminds-golf:before { content: '\EB44'; } /* '' */
.iconsminds-gymnastics:before { content: '\EB45'; } /* '' */
.iconsminds-hokey:before { content: '\EB46'; } /* '' */
.iconsminds-jump-rope:before { content: '\EB47'; } /* '' */
.iconsminds-life-jacket:before { content: '\EB48'; } /* '' */
.iconsminds-medal:before { content: '\EB49'; } /* '' */
.iconsminds-pilates-2:before { content: '\EB4A'; } /* '' */
.iconsminds-rafting:before { content: '\EB4B'; } /* '' */
.iconsminds-running-shoes:before { content: '\EB4C'; } /* '' */
.iconsminds-skydiving:before { content: '\EB4D'; } /* '' */
.iconsminds-snorkel:before { content: '\EB4E'; } /* '' */
.iconsminds-soccer-ball:before { content: '\EB4F'; } /* '' */
.iconsminds-swimming:before { content: '\EB50'; } /* '' */
.iconsminds-tennis:before { content: '\EB51'; } /* '' */
.iconsminds-tennis-ball:before { content: '\EB52'; } /* '' */
.iconsminds-over-time-2:before { content: '\EB53'; } /* '' */
.iconsminds-sand-watch-2:before { content: '\EB54'; } /* '' */
.iconsminds-stopwatch:before { content: '\EB55'; } /* '' */
.iconsminds-time-backup:before { content: '\EB56'; } /* '' */
.iconsminds-timer:before { content: '\EB57'; } /* '' */
.iconsminds-watch:before { content: '\EB58'; } /* '' */
.iconsminds-24-hour:before { content: '\EB59'; } /* '' */
.iconsminds-alarm-clock-2:before { content: '\EB5A'; } /* '' */
.iconsminds-alarm-clock:before { content: '\EB5B'; } /* '' */
.iconsminds-clock:before { content: '\EB5C'; } /* '' */
.iconsminds-clock-2:before { content: '\EB5D'; } /* '' */
.iconsminds-clock-back:before { content: '\EB5E'; } /* '' */
.iconsminds-clock-forward:before { content: '\EB5F'; } /* '' */
.iconsminds-old-clock:before { content: '\EB60'; } /* '' */
.iconsminds-scooter:before { content: '\EB61'; } /* '' */
.iconsminds-ship:before { content: '\EB62'; } /* '' */
.iconsminds-skateboard:before { content: '\EB63'; } /* '' */
.iconsminds-taxi-sign:before { content: '\EB64'; } /* '' */
.iconsminds-traffic-light:before { content: '\EB66'; } /* '' */
.iconsminds-train:before { content: '\EB67'; } /* '' */
.iconsminds-yacht:before { content: '\EB68'; } /* '' */
.iconsminds-bicycle-1:before { content: '\EB6A'; } /* '' */
.iconsminds-bus-2:before { content: '\EB6B'; } /* '' */
.iconsminds-car:before { content: '\EB6C'; } /* '' */
.iconsminds-gaugage:before { content: '\EB6E'; } /* '' */
.iconsminds-gaugage-2:before { content: '\EB6F'; } /* '' */
.iconsminds-helicopter:before { content: '\EB70'; } /* '' */
.iconsminds-jeep:before { content: '\EB71'; } /* '' */
.iconsminds-jet:before { content: '\EB72'; } /* '' */
.iconsminds-motorcycle:before { content: '\EB73'; } /* '' */
.iconsminds-plane:before { content: '\EB74'; } /* '' */
.iconsminds-road-2:before { content: '\EB75'; } /* '' */
.iconsminds-sailing-ship:before { content: '\EB76'; } /* '' */
.iconsminds-video-tripod:before { content: '\EB77'; } /* '' */
.iconsminds-3d-eyeglasses:before { content: '\EB78'; } /* '' */
.iconsminds-cinema:before { content: '\EB79'; } /* '' */
.iconsminds-director:before { content: '\EB7A'; } /* '' */
.iconsminds-film:before { content: '\EB7B'; } /* '' */
.iconsminds-film-video:before { content: '\EB7C'; } /* '' */
.iconsminds-old-tv:before { content: '\EB7D'; } /* '' */
.iconsminds-tv:before { content: '\EB7E'; } /* '' */
.iconsminds-video:before { content: '\EB7F'; } /* '' */
.iconsminds-video-5:before { content: '\EB80'; } /* '' */
.iconsminds-video-6:before { content: '\EB81'; } /* '' */
.iconsminds-video-len:before { content: '\EB82'; } /* '' */
.iconsminds-sunrise:before { content: '\EB83'; } /* '' */
.iconsminds-sunset:before { content: '\EB84'; } /* '' */
.iconsminds-temperature-2:before { content: '\EB85'; } /* '' */
.iconsminds-thunder:before { content: '\EB86'; } /* '' */
.iconsminds-umbrella-2:before { content: '\EB87'; } /* '' */
.iconsminds-wave:before { content: '\EB88'; } /* '' */
.iconsminds-wind-turbine:before { content: '\EB89'; } /* '' */
.iconsminds-windy:before { content: '\EB8A'; } /* '' */
.iconsminds-cloud-hail:before { content: '\EB8B'; } /* '' */
.iconsminds-cloud-moon:before { content: '\EB8C'; } /* '' */
.iconsminds-cloud-rain:before { content: '\EB8D'; } /* '' */
.iconsminds-cloud-snow:before { content: '\EB8E'; } /* '' */
.iconsminds-cloud-sun:before { content: '\EB8F'; } /* '' */
.iconsminds-cloud-weather:before { content: '\EB90'; } /* '' */
.iconsminds-drop:before { content: '\EB91'; } /* '' */
.iconsminds-dry:before { content: '\EB92'; } /* '' */
.iconsminds-fog-day:before { content: '\EB93'; } /* '' */
.iconsminds-fog-night:before { content: '\EB94'; } /* '' */
.iconsminds-half-moon:before { content: '\EB95'; } /* '' */
.iconsminds-rain-drop:before { content: '\EB96'; } /* '' */
.iconsminds-snow:before { content: '\EB97'; } /* '' */
.iconsminds-snowflake-3:before { content: '\EB98'; } /* '' */
.iconsminds-snow-storm:before { content: '\EB99'; } /* '' */
.iconsminds-spring:before { content: '\EB9A'; } /* '' */
.iconsminds-storm:before { content: '\EB9B'; } /* '' */
.iconsminds-summer:before { content: '\EB9C'; } /* '' */
.iconsminds-sun:before { content: '\EB9D'; } /* '' */
.iconsminds-sun-cloudy-rain:before { content: '\EB9E'; } /* '' */
.iconsminds-electric-guitar:before { content: '\EB9F'; } /* '' */
.iconsminds-guitar:before { content: '\EBA0'; } /* '' */
.iconsminds-air-balloon-1:before { content: '\EBA1'; } /* '' */
.iconsminds-tractor:before { content: '\EBA2'; } /* '' */
.iconsminds-calendar-1:before { content: '\EBA3'; } /* '' */
.iconsminds-calendar-4:before { content: '\EBA4'; } /* '' */
.iconsminds-trophy-2:before { content: '\EBA5'; } /* '' */
.iconsminds-life-safer:before { content: '\EBA6'; } /* '' */
.iconsminds-calculator:before { content: '\EBA7'; } /* '' */
.iconsminds-taj-mahal:before { content: '\EBA8'; } /* '' */
.iconsminds-scale:before { content: '\EBA9'; } /* '' */
.iconsminds-usb:before { content: '\EBAA'; } /* '' */
.iconsminds-flowerpot:before { content: '\EBAB'; } /* '' */
.iconsminds-shop-4:before { content: '\EBAC'; } /* '' */
.iconsminds-line-chart-1:before { content: '\EBAD'; } /* '' */
.iconsminds-line-chart-3:before { content: '\EBAE'; } /* '' */
.iconsminds-forest-1:before { content: '\EBAF'; } /* '' */
.iconsminds-pantone:before { content: '\EBB0'; } /* '' */
.iconsminds-digital-drawing:before { content: '\EBB1'; } /* '' */
.iconsminds-credit-card:before { content: '\EBB2'; } /* '' */
.iconsminds-credit-card-3:before { content: '\EBB3'; } /* '' */
.iconsminds-money-bag:before { content: '\EBB4'; } /* '' */
.iconsminds-printer:before { content: '\EBB5'; } /* '' */
.iconsminds-sheep:before { content: '\EBB8'; } /* '' */
.iconsminds-cow:before { content: '\EBB9'; } /* '' */
.iconsminds-dog:before { content: '\EBBA'; } /* '' */
.iconsminds-deer:before { content: '\EBBB'; } /* '' */

